@import "tailwindcss";

:root {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "YOPQ" 300;
    font-size: 1rem;

    background-color: hsl(0, 0%, 100%);
    padding: 0;
}

@theme {
    --color-orange: hsl(26, 100%, 55%);
    --color-orange-pale: hsl(25, 100%, 94%);
    --color-blue-dark: hsl(220, 13%, 13%);
    --color-blue-grayish-dark: hsl(219, 9%, 45%);
    --color-blue-grayish: hsl(220, 14%, 75%);
    --color-blue-grayish-light: hsl(223, 64%, 98%);
    --color-black-opacity-75: hsl(0, 0%, 0%, 0.75);
}